<div class="container-page-header" style="background-image: url('assets/img/background/contacto.jpg');">
    <button class="btn btn-youtube-home"><i class="fa fa-youtube" aria-hidden="true"></i></button>
    <button class="btn btn-twitter-home"><i class="fa fa-twitter" aria-hidden="true"></i></button>
    <button class="btn btn-facebook-home"><i class="fa fa-facebook" aria-hidden="true"></i></button>
</div>
<section class="container container-page-inner">
    <section>
      <div class="col-lg-12" style="line-height: 1.42857143;">
      	<table style="color: #727171; margin: 0 auto; margin-top: 25px; margin-bottom: 25px;">
			<tr>
				<td>
					<img src="assets/img/brand/contacto01.png" height="50">
				</td>
				<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Ing. Luis Antonio Jiménez Sánchez</td>
			</tr>
			<tr><td colspan="2"  style="height: 20px;"></td></tr>
			<tr>
				<td>
					<img src="assets/img/brand/contacto02.png" height="50">
				</td>
				<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">232 - 3402</td>
			</tr>
			<tr><td colspan="2"  style="height: 20px;"></td></tr>
			<tr>
				<td>
					<img src="assets/img/brand/contacto03.png" height="50">
				</td>
				<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">dra_lima@minag.gob.pe</td>
			</tr>
			<tr><td colspan="2"  style="height: 20px;"></td></tr>
			<tr>
				<td>
					<img src="assets/img/brand/contacto04.png" height="50">
				</td>
				<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Av. Augusto B. Leguía s/n - Huacho</td>
			</tr>
			<tr><td colspan="2"  style="height: 20px;"></td></tr>
		</table>
      </div>
    </section>
</section>
