<section data-ng-controller="HomeController">
    
    <div class="text-center box-search vcenter" style="background-image: url('modules/core/img/background/granjero01.jpg');">
      <div class="col-lg-6 col-md-offset-3">
        <div class="input-group">
          <input type="text" class="form-control input-lg" placeholder="Escribe en este cuadro lo que estás buscando...">
          <span class="input-group-btn">
            <button class="btn btn-secondary btn-light-green btn-lg" type="button">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </div>
    </div>

  <section class="container">
    <div class="col-lg-12 no-padding">
      <div class="col-lg-5 box-noticias">
        <h3>Noticias</h3>
        <div id="carousel-noticias" class="carousel slide carousel-noticias" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-noticias" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-noticias" data-slide-to="1"></li>
            <li data-target="#carousel-noticias" data-slide-to="2"></li>
            <li data-target="#carousel-noticias" data-slide-to="3"></li>
            <li data-target="#carousel-noticias" data-slide-to="4"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="modules/core/img/carousel/agricultura01.jpg" alt="...">
              <div class="carousel-caption">
                <h4>NOTICIA 1</h4>
                {{ label  | limitTo:120 }}...
              </div>
            </div>
            <div class="item">
              <img src="modules/core/img/carousel/agricultura02.jpg" alt="...">
              <div class="carousel-caption">
                <h4>NOTICIA 2</h4>
                {{ label  | limitTo:120 }}...
              </div>
            </div>
            <div class="item">
              <img src="modules/core/img/carousel/agricultura03.jpg" alt="...">
              <div class="carousel-caption">
                <h4>NOTICIA 3</h4>
                {{ label  | limitTo:120 }}...
              </div>
            </div>
            <div class="item">
              <img src="modules/core/img/carousel/agricultura04.jpg" alt="...">
              <div class="carousel-caption">
                <h4>NOTICIA 4</h4>
                {{ label  | limitTo:120 }}...
              </div>
            </div>
            <div class="item">
              <img src="modules/core/img/carousel/agricultura05.jpg" alt="...">
              <div class="carousel-caption">
                <h4>NOTICIA 5</h4>
                {{ label  | limitTo:120 }}...
              </div>
            </div>
          </div>
          <div class="carousel-more">
          <p class="carousel-share">
            <b><i>Comparte en: </i></b>
            <button type="button" class="btn btn-twitter btn-circle">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-facebook btn-circle">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-document btn-circle">
              <i class="fa fa-file" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-feed btn-circle">
              <i class="fa fa-rss" aria-hidden="true"></i>
            </button>

            <a href="#" class="carousel-link"><b>Ver mas</b></a>
          </p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 box-eventos">
        <h3>Eventos</h3>
        <div id="carousel-eventos" class="carousel slide carousel-eventos" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-eventos" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-eventos" data-slide-to="1"></li>
            <li data-target="#carousel-eventos" data-slide-to="2"></li>
            <li data-target="#carousel-eventos" data-slide-to="3"></li>
            <li data-target="#carousel-eventos" data-slide-to="4"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="modules/core/img/carousel/agricultura01.jpg" alt="...">
              <div class="carousel-caption">
                <h4>EVENTO 1</h4>
                {{ label  | limitTo:120 }}...
              </div>
            </div>
            <div class="item">
              <img src="modules/core/img/carousel/agricultura02.jpg" alt="...">
              <div class="carousel-caption">
                <h4>EVENTO 2</h4>
                {{ label  | limitTo:120 }}...
              </div>
            </div>
            <div class="item">
              <img src="modules/core/img/carousel/agricultura03.jpg" alt="...">
              <div class="carousel-caption">
                <h4>EVENTO 3</h4>
                {{ label  | limitTo:120 }}...
              </div>
            </div>
            <div class="item">
              <img src="modules/core/img/carousel/agricultura04.jpg" alt="...">
              <div class="carousel-caption">
                <h4>EVENTO 4</h4>
                {{ label  | limitTo:120 }}...
              </div>
            </div>
            <div class="item">
              <img src="modules/core/img/carousel/agricultura05.jpg" alt="...">
              <div class="carousel-caption">
                <h4>EVENTO 5</h4>
                {{ label  | limitTo:120 }}...
              </div>
            </div>
          </div>
          <div class="carousel-more">
          <p class="carousel-share">
            <b><i>Comparte en: </i></b>
            <button type="button" class="btn btn-twitter btn-circle">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-facebook btn-circle">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-document btn-circle">
              <i class="fa fa-file" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-feed btn-circle">
              <i class="fa fa-rss" aria-hidden="true"></i>
            </button>

            <a href="#" class="carousel-link"><b>Ver mas</b></a>
          </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</section>
