.content {
  margin-top: 0px;
}

.box-content {
  margin-top: 30px;
  color: white;
  padding: 20px;
  padding-top: 15px;
  text-align: left;
  background: rgba(0, 0, 0, 0.6);
  border-top: 7px solid #eabf21;
  border-bottom: 7px solid #eabf21;
}

.box-content:after {
  content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: solid 25px #eabf21;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}

.btn-orange {
  background: #eabf21 !important;
  color: white !important;
}

.navbar-group {
  margin-bottom: 0px;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.super-header {
  background: #b4c965;
  height: 34px;
  width: 100%;
  font-family: Verdana;
  text-align: left;
  padding-left: 30px;
  padding-top: 5px;
}

.super-header a {
  color: #FFF;
  width: 100%;
}

.navbar-inverse .navbar-collapse, .nav-main, .navbar-inverse {
  background: #FFF;
}

.nav-main {
  height: 50px;
}

.navbar-header-menu li {
}

.navbar-header-menu li .item-menu {
  font-family: Verdana, sans-serif;
  color: #fff !important;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

.navbar-header-menu li .item-menu:hover, .navbar-header-menu li .item-menu.active {
  color: #000 !important;
  background: #eabf21 !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #000 !important;
  background: #eabf21 !important;
}

.navbar-header-menu li.dropdown .dropdown-menu {
  background: transparent;
}

.navbar-header-menu li.dropdown .dropdown-menu li {
  background: transparent;
  background-color: rgba(234,191,33, 0.62) !important;
}

.navbar-header-menu li.dropdown .dropdown-menu li a {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.navbar-header-menu li.dropdown .dropdown-menu li a:focus, 
.navbar-header-menu li.dropdown .dropdown-menu li a:hover, 
.navbar-header-menu li.dropdown .dropdown-menu li a:active {
  color: black;
  background-color: rgba(234,191,33, 1) !important;
}


.navbar-header-menu li .item-menu-especial {
  font-family: Verdana, sans-serif;
  color: #fff !important;
  font-size: 16px;
  background: #b6b832;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 5px;
}

.navbar-header-menu li .item-menu-especial:hover {
  color: #fff !important;
  background: #b6b832 !important;
  margin-left: 5px;
}

.navbar-brand img {
  max-height: 46px;
}

.box-search {
  position: relative;
  height: 485px;
  background-position: center -120px;
  background-repeat: no-repeat;
  /*background-size: cover;*/
}

.vcenter {
    display: flex;
    align-items: center;
}

.btn-light-green, .btn-light-green:hover {
  background-color: #b6b832;
  color: #FFF;
}

.carousel-indicators li {
    border: none;
    background-color: #c0c0c0;
}

.carousel-indicators .active {
    background-color: #c00000;
}

.carousel-indicators {
    bottom: 35px;
    left: 50px;
}

.carousel-caption {
    left: 0%;
    right: 0%;
    bottom: 0px;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,1) 0,rgba(0,0,0,.1) 100%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,1) 0,rgba(0,0,0,.1) 100%);
    background-image: -webkit-gradient(linear,top top,right top,from(rgba(0,0,0,1)),to(rgba(0,0,0,.1)));
    background-image: linear-gradient(to top,rgba(0,0,0,1) 0,rgba(0,0,0,.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
    line-height: 1.42857143;
    text-align: justify;
    padding: 15px;
}

.carousel-caption h4 {
    margin-bottom: 5px;
}

.carousel-inner img {
    width: 100%;
    height: 400px !important;
    object-fit: cover;
}

.carousel-more {
  width: 100%;  
  height: 70px;  
}


.carousel-noticias, .carousel-eventos
{
  box-shadow: 0px 3px 14px 1px rgba(0,0,0,0.4);
}

.carousel-share {
    bottom: 5px;
    position: absolute;
    margin-left: 15px;
    width: 100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-twitter, .btn-twitter:hover, .btn-twitter:focus {
  background: #45b0e3;
  color: #FFF;
}

.btn-facebook, .btn-facebook:hover, .btn-facebook:focus {
  background: #39599f;
  color: #FFF;
}

.btn-document, .btn-document:hover, .btn-document:focus {
  background: #f8bc2e;
  color: #FFF;
}

.btn-feed, .btn-feed:hover, .btn-feed:focus {
  background: #ff5f02;
  color: #FFF;
}

.carousel-link, .carousel-link:hover, .carousel-link:focus {
  color: #f60d0d;
  float: right;
  margin-right: 40px;
  font-size: 16px;
}

.box-footer {
  margin-bottom: 0px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.box-noticias, .box-eventos {
  margin-left: 20px; 
  margin-right: 20px;
}

.btn-gray-search, .btn-gray-search:hover, .btn-gray-search:focus, .input-gray-search {
  background: #7a7a7a;
  color: #fff;
}

.btn-gray-search {
  border-left: 1px inset #fff;
}

.field-flat {
  border-radius: 0;
}

.input-gray-search::-webkit-input-placeholder {
   color: #c9c8c8;
}

.input-gray-search:-moz-placeholder { /* Firefox 18- */
   color: #c9c8c8;  
}

.input-gray-search::-moz-placeholder {  /* Firefox 19+ */
   color: #c9c8c8;  
}

.input-gray-search:-ms-input-placeholder {  
   color: #c9c8c8;  
}

.links-direcciones li a {
  color: #7c7c7c;
}

.web-recomendadas, .contacto, .ayuda {
  margin-bottom: 10px;
}

.box-contacto-footer {
  background: #fff;
  padding: 20px;
  border-top: 15px inset lightgray;
  border-bottom: 5px inset #949494;
}

.navbar-main-group {
  border: none;
  background: rgba(14,130,64, 0.62);
}

.main-background {
  line-height: 0px;
  background-size: cover;
  /*background-position-y: -125px;*/
}

.box-logo {
  text-align: center;
  width: 100%;
  height: 75px;
  padding-top: 10px;
  background: rgba(255,255,255, 1);
}

.navbar-brand-header {
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand-header img {
  height: 50px;
}

.navbar-header-menu .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.navbar-header-menu .dropdown-menu {
	left: 9px;
}

 .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #080808;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.navbar-inverse .navbar-collapse, .nav-main, .navbar-inverse {
    background: rgba(14,130,64, 0.62);
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #eabf21;
}

.navbar-inverse .navbar-toggle {
    border-color: #eabf21;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #eabf21;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

.btn-youtube-home {
  position: absolute;
  top: 140px;
  left: 60px;
  background: #c92d27;
  color: white;
  font-size: 28px;
}

.btn-twitter-home {
  position: absolute;
  top: 215px;
  left: 60px;
  background: #00b6f1;
  color: white;
  font-size: 28px;
}

.btn-facebook-home {
  position: absolute;
  top: 295px;
  left: 60px;
  background: #3e5c99;
  color: white;
  font-size: 28px;
}

.btn-facebook-home i {
  padding-left: 10px;
}

.btn-facebook-home:hover, .btn-twitter-home:hover, .btn-youtube-home:hover {
    color: #fff;
}

.container-page-header {
  width: 100%;
  background-position: center center;
  background-size: cover;
  height: 400px;
  position: relative;
}

.container-page-inner {
  background: white;
  margin: 0px;
  width: 100%;
}

#table_search_filter .input-group-addon {
    background-color: #eabf21;
    border: 1px solid #eabf21;
}

.table thead tr {
    background-color: #eabf21;
    color: black;
}

.table-bordered {
    border: 1px solid #eabf21;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #eabf21;
}

.table tbody {
  color: black;
}

.table tbody tr td {
  vertical-align: middle;
}

.table tbody tr td, .table thead tr th {
  text-align: center;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: black;
    background-color: #eabf21;
    border-color: #eabf21;
}

.form-group * {
  line-height: 1.42857143;
}

.box-bold {
    background: rgba(255, 255, 255, 0.95);
    color: black;
}

.table tbody tr {
    background-color: #fff;
}

.form-group.has-success label {
  color: #00a65a;
}
.form-group.has-success .form-control {
  border-color: #00a65a;
  box-shadow: none;
}
.form-group.has-success .help-block {
  color: #00a65a;
}
.form-group.has-warning label {
  color: #f39c12;
}
.form-group.has-warning .form-control {
  border-color: #f39c12;
  box-shadow: none;
}
.form-group.has-warning .help-block {
  color: #f39c12;
}
.form-group.has-error label, .error {
  color: #dd4b39;
}
.form-group.has-error .form-control {
  border-color: #dd4b39;
  box-shadow: none;
}
.form-group.has-error .help-block {
  color: #dd4b39;
}


.overlay,
.overlay-wrapper > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}