.img-galeria {
	height: 250px;
    width: 250px;
	margin: 15px;
    object-fit: cover;
}

.page-inner {
	color: white;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
	text-decoration: none;
}

.page-inner:hover {
	background: white;
	color: #9b9b9b;
    border-radius: 10px;
}

.img-fluid { 
    width: 100%;
}

.a-imagen-galeria {
    position: relative;
    margin: 0px;
    padding: 15px;
}

.box-date .input-group-addon {
    font-size: 13px;
}

.bootstrap-datetimepicker-widget {
    color: black;
}
.resultado-galeria {
    margin-top: 30px;
}