.search-main {
	background: rgba(255, 255, 255, 0.6);
	color: black;
	border: 1px solid white;
}

.box-menu-side {
	color: white;
	margin-left: 50px;
	padding: 20px;
	margin-top: 60px;
	padding-top: 15px;
	text-align: left;
	background: rgba(0, 0, 0, 0.6);
	border-top: 7px solid #eabf21;
	border-bottom: 7px solid #eabf21;
}

.box-menu-side:after {
	content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    width: 0;
    height: 0;
    border-top: solid 25px #eabf21;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}

.btn-sisgedo, .btn-sisgedo:hover, .btn-sisgedo:focus, .btn-sisgedo:active {
  background: #85b037;
  font-weight: bold;
  color: white;
}

.form-correo label, .form-correo button {
	font-weight: bold;
}

.form-correo input {
  background: #85b037;
  color: white;
  border: none;
}

.box-noticias h3, .box-eventos h3 {
	color: white;
}

.box-noticias-eventos {
	margin-top: 80px;
	margin-bottom: 40px;
}

.carousel-more {
	background: white;
}

.gsc-results-wrapper-overlay.gsc-results-wrapper-visible {
	line-height: 1.42857143 !important;
}


input.gsc-input {
	height: 40px !important;
    padding: 10px 16px !important;
    font-size: 18px !important;
    line-height: 1.3333333 !important;
    border-radius: 6px !important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0px !important;
}

table.gsc-search-box td {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.gsc-control-cse {
    border-color: transparent !important;
    background-color: transparent !important;
    width: 100% !important;
}


.gsc-control-wrapper-cse, .gsc-input-box {
    height: 46px !important;
 	border-radius: 6px !important;
 	border-top-right-radius: 0px !important;
 	border-bottom-right-radius: 0px !important;
}

.gsst_a {
    padding-top: 20% !important;
}

.gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
    text-align: left !important;
}

.gsc-search-box-tools .gsc-search-box input.gsc-input {
    padding-top: 17px !important;
}