.search-main {
	background: rgba(255, 255, 255, 0.6);
	color: black;
	border: 1px solid white;
}

.box-menu-side {
	color: white;
	margin-left: 50px;
	padding: 20px;
	padding-top: 15px;
	text-align: left;
	background: rgba(0, 0, 0, 0.6);
	border-top: 7px solid #eabf21;
	border-bottom: 7px solid #eabf21;
}

.box-menu-side:after {
	content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    width: 0;
    height: 0;
    border-top: solid 25px #eabf21;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}

.btn-sisgedo, .btn-sisgedo:hover, .btn-sisgedo:focus, .btn-sisgedo:active {
  background: #85b037;
  font-weight: bold;
  color: white;
}

.form-correo label, .form-correo button {
	font-weight: bold;
}

.form-correo input {
  background: #85b037;
  color: white;
  border: none;
}

.box-noticias h3, .box-eventos h3 {
	color: white;
}

.box-noticias-eventos {
	margin-top: 80px;
	margin-bottom: 40px;
}

.carousel-more {
	background: white;
}

.btn-orange {
	background: #eabf21 !important;
	color: white !important;
}