.funciones-agrarios {
	list-style: none;
}


.funciones-agrarios li {
  padding-left: 1em; 
  text-indent: -.7em;
}

.funciones-agrarios li::before {
  content: "• ";
  color: #0e8240; /* or whatever color you prefer */
}