<div class="container-page-header" style="background-image: url('assets/img/background/vision-mision.jpg');">
    <button class="btn btn-youtube-home"><i class="fa fa-youtube" aria-hidden="true"></i></button>
    <button class="btn btn-twitter-home"><i class="fa fa-twitter" aria-hidden="true"></i></button>
    <button class="btn btn-facebook-home"><i class="fa fa-facebook" aria-hidden="true"></i></button>
</div>
<section class="container container-page-inner">
    <section>
      <div class="col-lg-11" style="padding-left: 75px; line-height: 1.42857143;">
      	<h3 style="font-weight: bold; color: #0e8240;">Visión y misión</h3>
      	<br>
      	<div style="padding-left: 75px;">
 			<p>La Dirección Regional de Agricultura es un Órgano Desconcentrado del Gobierno Regional de Lima que promueve las actividades productivas agrarias en el ámbito regional y depende técnica y funcionalmente de Ministerio de Agricultura.</p>
 			<br>
 			<h4 style="font-weight: bold;">VISIÓN</h4>
 			<p style="font-weight: bold;">¿A dónde nos apuntamos?</p>
 			<p>Ser una Institución Pública eficiente y moderna, trabajando con productores agrarios organizados, en el marco de una agricultura competitiva, rentable y sostenible, que contribuya a generar desarrollo para la Región, aumentar el empleo y elevar la calidad de vida de la población, en especial de la familia campesina y rural.</p>
 			<br>
 			<h4 style="font-weight: bold;">MISIÓN</h4>
 			<p style="font-weight: bold;">¿Cuál es nuestra razón de ser?</p>
 			<p>Somos una Institución desconcentrada del Gobierno Regional de Lima que promueve el desarrollo de los productores agrarios organizados empresarialmente bajo el enfoque de cadenas productivas, en el marco del rol subsidiario del Estado, considerando la cuenca como unidad de gestión de los recursos naturales y medio ambiente.</p>
 			<br>
      	</div>
      </div>
    </section>
</section>
