<div class="container-page-header" style="background-image: url('assets/img/background/agenda.jpg');">
    <button class="btn btn-youtube-home"><i class="fa fa-youtube" aria-hidden="true"></i></button>
    <button class="btn btn-twitter-home"><i class="fa fa-twitter" aria-hidden="true"></i></button>
    <button class="btn btn-facebook-home"><i class="fa fa-facebook" aria-hidden="true"></i></button>
</div>
<section class="container container-page-inner">
    <section>
      <div class="col-lg-8 col-md-offset-2 box-shadow-agenda box-filtro-agenda">
          <div class="col-lg-8 col-md-offset-2 no-padding">
            <div class="input-group box-dependencia">
                <span class="input-group-addon label-dependencia-agenda">Dependencia:</span>
                <select class="form-control filter-dependencia">
                  <option>Presidencia regional</option>
                  <option>Vicepresidencia</option>
                  <option>Director general</option>
                </select>
            </div>
            <div class="input-group box-time">
                <span class="input-group-addon label-mes-agenda">Mes:</span>
                <select class="form-control filter-mes">
                  <option selected="true" disabled="true">Seleccionar</option>
                  <option>Enero</option>
                  <option>Febrero</option>
                  <option>Marzo</option>
                  <option>Abril</option>
                  <option>Mayo</option>
                  <option>Junio</option>
                  <option>Julio</option>
                  <option>Agosto</option>
                  <option>Septiembre</option>
                  <option>Octubre</option>
                  <option>Noviembre</option>
                  <option>Diciembre</option>
                </select>
                <span class="input-group-addon label-year-agenda">Año:</span>
                <select class="form-control filter-year">
                  <option selected="true" disabled="true">Seleccionar</option>
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                  <option>2014</option>
                  <option>2013</option>
                  <option>2012</option>
                  <option>2011</option>
                  <option>2010</option>
                </select>
                <span class="input-group-btn box-search-dependencia">
                  <button class="btn btn-success">Buscar</button>
                </span>
            </div>
          </div>
      </div>
      <div class="col-lg-8 col-md-offset-2 box-shadow-agenda box-resultado-agenda">
          <h3 style="color: #555; font-weight: bold;">Actividades del mes de Febrero del año 2017</h3>
          <div class="col-lg-10 col-md-offset-1 no-padding" style="margin-top: 25px;">
            <p class="text-muted">Número de actividades: 13</p>
            <div class="table-responsive">
              <table class="table table-condensed table-bordered table-striped table-resultado-agenda">
                <thead>
                  <tr>
                    <th>Área</th>
                    <th>Día</th>
                    <th>Mes</th>
                    <th>Año</th>
                    <th>Hora</th>
                    <th>Lugar</th>
                    <th>Descripción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>PRESIDENCIA REGIONAL</td>
                    <td>10</td>
                    <td>02</td>
                    <td>2017</td>
                    <td>08:00 horas</td>
                    <td>PALACIO DE GOBIERNO (Lima).</td>
                    <td>REUNIÓN CON EL PRESIDENTE DE LA REPÚBLICA Dr. PEDRO PABLO KUCZYNSKI, EN EL MARCO DEL TERCER GORE EJECUTIVO.</td>
                  </tr>
                  <tr>
                    <td>PRESIDENCIA REGIONAL</td>
                    <td>10</td>
                    <td>02</td>
                    <td>2017</td>
                    <td>08:00 horas</td>
                    <td>PALACIO DE GOBIERNO (Lima).</td>
                    <td>REUNIÓN CON EL PRESIDENTE DE LA REPÚBLICA Dr. PEDRO PABLO KUCZYNSKI, EN EL MARCO DEL TERCER GORE EJECUTIVO.</td>
                  </tr>
                  <tr>
                    <td>PRESIDENCIA REGIONAL</td>
                    <td>10</td>
                    <td>02</td>
                    <td>2017</td>
                    <td>10:00 horas</td>
                    <td>PALACIO DE GOBIERNO (Lima).</td>
                    <td>FIRMA DEL PACTO POR LA REDUCCIÓN DE LA ANEMIA Y DESNUTRICIÓN INFANTIL.</td>
                  </tr>
                  <tr>
                    <td>PRESIDENCIA REGIONAL</td>
                    <td>10</td>
                    <td>02</td>
                    <td>2017</td>
                    <td>11:00 horas</td>
                    <td>INSTALACIONES DEL SWISSOTEL (Lima).</td>
                    <td>TALLER CERRANDO BRECHAS - PROINVERSIÓN/MEF.</td>
                  </tr>
                  <tr>
                    <td>PRESIDENCIA REGIONAL</td>
                    <td>10</td>
                    <td>02</td>
                    <td>2017</td>
                    <td>08:00 horas</td>
                    <td>CENTRO DE CONVENCIONES DE LIMA (Calle el Comercio 1521 San Borja).</td>
                    <td>REUNIÓN PREVIA CON GOBERNADORES REGIONALES.</td>
                  </tr>
                  <tr>
                    <td>PRESIDENCIA REGIONAL</td>
                    <td>10</td>
                    <td>02</td>
                    <td>2017</td>
                    <td>19:00 horas</td>
                    <td>SEDE DE LA ASAMBLEA NACIONAL DE GOBIERNO</td>
                    <td>REUNIÓN DE INTEGRANTES DE LA ASAMBLEA NACIONAL DE GOBIERNOS REGIONALES</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </section>
</section>
