<div class="container-page-header" style="background-image: url('assets/img/background/transparencia.jpg');">
    <button class="btn btn-youtube-home"><i class="fa fa-youtube" aria-hidden="true"></i></button>
    <button class="btn btn-twitter-home"><i class="fa fa-twitter" aria-hidden="true"></i></button>
    <button class="btn btn-facebook-home"><i class="fa fa-facebook" aria-hidden="true"></i></button>
</div>
<section class="container container-page-inner">
    <section>
      <div class="col-lg-11" style="padding-left: 75px; line-height: 1.42857143;">
      	<h3 style="font-weight: bold; color: #0e8240;">Acceso a la información</h3>
      	<br>
      	<div style="padding-left: 75px;">
 			<br>
 			<table>
 				<tr>
 					<td>
 						<img src="assets/img/brand/arrow-right.png">
 					</td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Norma de Creacion de La Entidad</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Directorio</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Instrumentos de Gestión</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Planes y Políticas: PERSA, PEI, POI</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Presupuestos Institucionales - Años</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Presupuestos PIPs – Ejecución</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Presupuesto Analítico de Personal – Años</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Presupuesto Analítico de Personal – Años</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Personal D.L. 276 Nombrados – Contratados - Cesantes</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Personal Contrato Administrativo de Servicios - Años</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Declaración Jurada de Ingresos, Bienes y Rentas de Funcionarios</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Normatividad Emitida – Resoluciones Directorales Sectoriales - Años</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 10px;"></td></tr>
 			</table>
 			<br>
      	</div>
      </div>
    </section>
</section>
