<div class="container-page-header" style="background-image: url('assets/img/background/vision-mision.jpg');">
    <button class="btn btn-youtube-home"><i class="fa fa-youtube" aria-hidden="true"></i></button>
    <button class="btn btn-twitter-home"><i class="fa fa-twitter" aria-hidden="true"></i></button>
    <button class="btn btn-facebook-home"><i class="fa fa-facebook" aria-hidden="true"></i></button>
</div>
<section class="container container-page-inner">
    <section>
      <div class="col-lg-11" style="padding-left: 75px; line-height: 1.42857143;">
      	<h3 style="font-weight: bold; color: #0e8240;">Agencias agrarias</h3>
      	<br>
      	<div style="padding-left: 75px;">
 			<br>
 			<table>
 				<tr>
 					<td>
 						<img src="assets/img/brand/arrow-right.png">
 					</td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Barranca</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 20px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Huacho</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 20px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Huaral</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 20px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Canta</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 20px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Santa Eulalia</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 20px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Mala</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 20px;"></td></tr>
 				<tr>
 					<td></td>
 					<td style="padding-left: 15px; font-weight: bold; font-size: 18px;">Cañete</td>
 				</tr>
 				<tr><td colspan="2"  style="height: 20px;"></td></tr>
 			</table>
      	</div>
      </div>
    </section>
</section>
