.content {
  margin-top: 0px;
}

.navbar-group {
  margin-bottom: 0px;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.super-header {
  background: #999857;
  height: 34px;
  width: 100%;
  font-family: Verdana;
  text-align: center;
  padding-top: 5px;
}

.super-header a {
  color: #FFF;
  width: 100%;
}

.navbar-inverse .navbar-collapse, .nav-main, .navbar-inverse {
  background: #FFF;
}

.nav-main {
  height: 76px;
}

.navbar-header-menu li {
  top: 12px;
}

.navbar-header-menu li .item-menu {
  font-family: Verdana, sans-serif;
  color: #83822f !important;
  font-size: 16px;
}

.navbar-header-menu li .item-menu:hover {
  border-top: 3px solid #83822f;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 7px;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-header-menu li .item-menu-especial {
  font-family: Verdana, sans-serif;
  color: #fff !important;
  font-size: 16px;
  background: #b6b832;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 5px;
}

.navbar-header-menu li .item-menu-especial:hover {
  color: #fff !important;
  background: #b6b832 !important;
  margin-left: 5px;
}

.navbar-brand img {
  max-height: 46px;
}

.box-search {
  height: 365px;
  background-position: center -120px;
  background-repeat: no-repeat;
  /*background-size: cover;*/
}

.vcenter {
    display: flex;
    align-items: center;
}

.btn-light-green, .btn-light-green:hover {
  background-color: #b6b832;
  color: #FFF;
}

.carousel-indicators li {
    border: none;
    background-color: #c0c0c0;
}

.carousel-indicators .active {
    background-color: #c00000;
}

.carousel-indicators {
    bottom: 35px;
    left: 50px;
}

.carousel-caption {
    left: 0%;
    right: 0%;
    bottom: 0px;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,1) 0,rgba(0,0,0,.1) 100%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,1) 0,rgba(0,0,0,.1) 100%);
    background-image: -webkit-gradient(linear,top top,right top,from(rgba(0,0,0,1)),to(rgba(0,0,0,.1)));
    background-image: linear-gradient(to top,rgba(0,0,0,1) 0,rgba(0,0,0,.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;

    text-align: justify;
    padding: 15px;
}

.carousel-caption h4 {
    margin-bottom: 5px;
}

.carousel-inner img {
    width: 100%;
    height: 400px !important;
    object-fit: cover;
}

.carousel-more {
  width: 100%;  
  height: 70px;  
}


.carousel-noticias, .carousel-eventos
{
  box-shadow: 0px 3px 14px 1px rgba(0,0,0,0.4);
}

.carousel-share {
    bottom: 5px;
    position: absolute;
    margin-left: 15px;
    width: 100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-twitter, .btn-twitter:hover, .btn-twitter:focus {
  background: #45b0e3;
  color: #FFF;
}

.btn-facebook, .btn-facebook:hover, .btn-facebook:focus {
  background: #39599f;
  color: #FFF;
}

.btn-document, .btn-document:hover, .btn-document:focus {
  background: #f8bc2e;
  color: #FFF;
}

.btn-feed, .btn-feed:hover, .btn-feed:focus {
  background: #ff5f02;
  color: #FFF;
}

.carousel-link, .carousel-link:hover, .carousel-link:focus {
  color: #f60d0d;
  float: right;
  margin-right: 40px;
  font-size: 16px;
}

.box-footer {
  margin-bottom: 0px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.box-noticias, .box-eventos {
  margin-left: 20px; 
  margin-right: 20px;
}

.btn-gray-search, .btn-gray-search:hover, .btn-gray-search:focus, .input-gray-search {
  background: #7a7a7a;
  color: #fff;
}

.btn-gray-search {
  border-left: 1px inset #fff;
}

.field-flat {
  border-radius: 0;
}

.input-gray-search::-webkit-input-placeholder {
   color: #c9c8c8;
}

.input-gray-search:-moz-placeholder { /* Firefox 18- */
   color: #c9c8c8;  
}

.input-gray-search::-moz-placeholder {  /* Firefox 19+ */
   color: #c9c8c8;  
}

.input-gray-search:-ms-input-placeholder {  
   color: #c9c8c8;  
}

.links-direcciones li a {
  color: #7c7c7c;
}

.web-recomendadas, .contacto, .ayuda {
  margin-bottom: 10px;
}

.box-contacto-footer {
  background: #fff;
  padding: 20px;
  border-top: 15px inset lightgray;
  border-bottom: 5px inset #949494;
}